/* CUSTOM PROPERTIES */

:root {
  /* Remember: put here only the variables that have a global scope. Otherwise it is better to insert them in the specific closure where they have to act upon. */
  --font-size: 1.1rem;
  --font-family: Helvetica, Arial, sans-serif;
  --opacity: 0.5;
  /* EDIT 20240116 */
  --camera-screen-width: 80vh;
  --camera-screen-height: calc(var(--camera-screen-width) * 0.75);
  /* END EDIT */
  
}

/* ------------------- */
/*        TYPES        */
/* ------------------- */

/* EDIT20230531B*/
html, body {
  height: 100%;
}
/* END EDIT20230531B*/

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: var(--font-size);
  font-family: var(--font-family);
}

/* ------------------ */
/*       LAYERS       */
/* ------------------ */

.container {
  position: relative;
  width:  100vw;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
}

.layer {
  position: absolute;
  top: 0px;
  width: 100vw;
  /* EDIT20230531B*/
  /* height: 100vh; */
  min-height: 100%;
  /* EDIT20230531B*/
  padding: 0px;
}

.info-card {
  z-index: 10;
}

.sidebar {
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  background-color: #E9E4E3;
  z-index: 8;
  width: 100vw;
}
.heading {
  border-bottom: 1px solid #E9E4E3;
  min-height: 40px;
  line-height: 40px;
  padding-top: 10px;
  background-color: #E9E4E3; 
  color: #32679A; 
  margin: 0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.logo-img {
  margin-top: 1vh;
  height: 90px;
}

#logo-text {
  margin-top: 1vh;
  font-size: calc(var(--font-size) * 1.5);
  max-width: 300px;
  white-space: normal;
}

.map {
  z-index: 6;
}

.splash {
  left: 20vw;
  width: 80vw;
}

#splashimage {
  width: 100%;
}

/* ----------------- */
/*    UI ELEMENTS    */
/* ----------------- */

/* HIDE BUTTONS */
.hide-button {
  position: absolute;
  top: 1vmin;
  right: 1vmin;
  /* background-color: #00853e; 20240114 */
  background-color: #32679A;
  color: white;
  font-size: calc(var(--font-size) * 1.8); /* 20240114 */
}

.hide-button:hover {
  background-color: #8cc63f;
  color: white;
}

/* #hide-ar-viewer {
  position: fixed;
} */

/* BACK BUTTONS */
.back-button {
  position: absolute;
  top: 1vmin;
  left: 1vmin;
  /* background-color: #00853e; 20240114 */
  background-color: #32679A;
  color: white;
  font-size: calc(var(--font-size) * 1.8); /* 20240114 */
  
}

.back-button:hover {
  background-color: #8cc63f;
  color: white;
}


/* SHOW BUTTONS */
.show-button {
  position: absolute;
  top: 1vmin;
  left: 1vmin;
  /* background-color: #00853e; 20240114 */
  background-color: #32679A;
  color: white;
  font-size: calc(var(--font-size) * 1.8); /* 20240114 */
}

.show-button.sidebarbtn{
  z-index: 7;
  position: absolute;
  top: 1vmin;
  left: 1vmin;
  border-radius: 10px;
  font-size: 40px;
}

.show-button:hover {
  background-color: #8cc63f;
  color: white;
}

#show-info-card {
  top: 20vh;
  left: 50vw;
  background-color: #00853e;
  color: white;
}

#show-info-card:hover {
  background-color: #8cc63f;
  color: white;
}

/* FILTER */
#filter-dropdown {
  position: absolute;
  top: 13vh;
  right: 7.6vw;
  background-color: #32679A;
  color: white;
  font-size: calc(var(--font-size) * 1.4); 
  padding: 0.2px;
}

#filter-btn {
  border: none;
  position: absolute;
  top: 13vh;
  right: 1vmin;
  background-color: #32679A;
  color: white;
  font-size: calc(var(--font-size) * 1.5);
}

/* LANGUAGE BUTTONS */

.english-button {
  position: absolute;
  top: 13vh;
  left: 22.5vw;
  background: none;
  border: none;
  color: white;
  font-size: calc(var(--font-size) * 1.2); /* 20240114 */
}

.italian-button {
  position: absolute;
  top: 13vh;
  left: 8.5vw;
  background: none;
  border: none;
  color: white;
  font-size: calc(var(--font-size) * 1.2); /* 20240114 */
}

/* --------------------------- */
/*     Info card elements      */
/* --------------------------- */

#card-container {
  position: absolute;
  border: 1px solid black;
  left: calc(50vw - 9em);
  top: 5%;
  width: 18em;
}

#card-title {
  font-size: calc(var(--font-size) * 2);
  font-weight: 600;
  font-family: var(--font-family);
}

#card-description {
  font-size: var(--font-size);
  font-family: var(--font-family);
  line-height: 150%;
  margin: 0 5px;
  text-align: justify;
}


/* ---------------- */
/* Listing x pop-up */
/* ---------------- */

.center{
  margin-top: 10px;
  background-color: #404040;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 15px;
  align-self: center;
}

.mapboxgl-popup-close-button{
  font-size: 40px;
}

.listings {
  padding-top: 50px;
  height: 100%;
  bottom: 30%;
  overflow: auto;
  padding-bottom: 60px;
  text-align: center;  
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.listings .item {
  display: block;
  padding: 10px;
  background-color: #E9E4E3; 
}

.listings .item:last-child {
  border-bottom: none;
}

.listings .item-default .title {
  display: block;
  font-size: calc(var(--font-size) * 1.5); 
  font-weight: 700;
  text-decoration: none; 
  color: white; 
  background-color: #60B565; 
  padding: 10px; 
  min-height: 150px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listings .item-food .title {
  display: block;
  font-size: calc(var(--font-size) * 1.5); 
  font-weight: 700;
  text-decoration: none; 
  color: white; 
  background-color: #d4a323; 
  padding: 10px; 
  min-height: 150px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listings .item-infopoint .title {
  display: block;
  font-size: calc(var(--font-size) * 1.5); 
  font-weight: 700;
  text-decoration: none; 
  color: white; 
  background-color: #420ebb; 
  filter: hue-rotate(-35deg);
  padding: 10px; 
  min-height: 150px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listings .item-tourism .title {
  display: block;
  font-size: calc(var(--font-size) * 1.5); 
  font-weight: 700;
  text-decoration: none; 
  color: white; 
  background-color: #EF7875; 
  padding: 10px; 
  min-height: 150px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listings .item-entrance .title {
  display: block;
  font-size: calc(var(--font-size) * 1.5);
  font-weight: 700;
  text-decoration: none;
  color: white;
  background-color: #df4432;
  padding: 10px;
  min-height: 150px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listings .item-events .title {
  display: block;
  font-size: calc(var(--font-size) * 1.5);
  font-weight: 700;
  text-decoration: none;
  color: white;
  background-color: #60B565;
  filter: hue-rotate(-15deg);
  padding: 10px;
  min-height: 150px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listings .item-bus .title {
  display: block;
  font-size: calc(var(--font-size) * 1.5);
  font-weight: 700;
  text-decoration: none;
  color: white;
  background-color: #F5A04C;
  padding: 10px;
  min-height: 150px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listings .item-parking .title {
  display: block;
  font-size: calc(var(--font-size) * 1.5);
  font-weight: 700;
  text-decoration: none;
  color: white;
  background-color: #420ebb;
  padding: 10px;
  min-height: 150px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listings .item-portals .title {
  display: block;
  font-size: calc(var(--font-size) * 1.5);
  font-weight: 700;
  text-decoration: none;
  color: white;
  background-color: #9455ef;
  padding: 10px;
  min-height: 150px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listings .item-crafts .title {
  display: block;
  font-size: calc(var(--font-size) * 1.5);
  font-weight: 700;
  text-decoration: none;
  color: white;
  background-color: #cd22cd;
  padding: 10px;
  min-height: 150px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listings .item .title small {
  font-weight: 400;
}

/*.listings .item.active .title,
.listings .item .title:hover {
  background-color: #8cc63f;
  background-color: #EF7875;
}*/

.listings .item.active {
  border-color: #f8f8f8;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #00853e;
  border-radius: 0;
}
.marker-default {
  border: none;
  cursor: pointer;
  height: 49px;
  width: 35px;
  background-image: url("../img/markers/pc\ da\ inviare.png");
  background-size: cover;
}

.marker-infopoint {
  border: none;
  cursor: pointer;
  height: 49px;
  width: 35px;
  background-image: url("../img/markers/info\ point\ bianco\ 2.png");
  background-size: cover;
}

.marker-food {
  cursor: pointer;
  height: 49px;
  width: 35px;
  background-image: url("../img/markers/Cibo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.marker-tourism {
  border: none;
  cursor: pointer;
  height: 49px;
  width: 35px;
  background-image: url("../img/markers/04_icona\ fontana.png");
  background-size: cover;
}

.marker-entrance {
  border: none;
  cursor: pointer;
  height: 49px;
  width: 35px;
  background-image: url("../img/markers/Porte.png");
  background-size: cover;
}

.marker-events {
  filter: hue-rotate(-15deg);
  border: none;
  cursor: pointer;
  height: 49px;
  width: 35px;
  background-image: url("../img/markers/puzzle\ da\ inviare.png");
  background-size: cover;
}

.marker-bus {
  border: none;
  cursor: pointer;
  height: 49px;
  width: 35px;
  background-image: url("../img/markers/02_bus\ stop.png");
  background-size: cover;
}

.marker-parking {
  /*filter: hue-rotate(-150deg);*/ /* DEV only */
  border: none;
  cursor: pointer;
  height: 49px;
  width: 35px;
  background-image: url("../img/markers/utlima\ icona\ posizione.png");
  background-size: cover;
}

.marker-portals {
  border: none;
  cursor: pointer;
  height: 49px;
  width: 35px;
  background-image: url("../img/markers/Portali\ 2.png");
  background-size: cover;
}

.marker-crafts {
  border: none;
  cursor: pointer;
  height: 49px;
  width: 35px;
  background-image: url("../img/markers/01_mestieri\ seta.png");
  background-size: cover;
}


/* ---------------- */
/*       error      */
/* ---------------- */
#error {
  position: fixed;
  bottom: 2vh;
  background-color: red;
  color: white;
  padding: 0.5rem;
  z-index: 12;
  display: none;
}